/* You can add global styles to this file, and also import other style files */

@use '@picocss/pico/scss/pico';

app-root,
ns-dashboard,
ns-about-this-app,
ns-give-me-help,
ns-video-list,
ns-video-player,
ns-stat-filters {
  margin: 1rem;
  padding: 0.5rem;
  outline: 3px solid yellow;
  border-radius: 5px;
}
